* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Arial', sans-serif;
}

.header {
    background-color: #dc2626; 
    color: white;
    padding: 20px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.header-content {
    display: flex;
    align-items: center;
}


.title {
    font-size: 30px;
    font-weight: bold;
}

.logout-button {
    font-size: 15px;
    display: flex;
    align-items: center;
    color: rgb(226, 7, 7);
}

.container {
    display: flex;
}

.sidebar {
    background-color: #1f2937; 
    color: white;
    width: 15%;
    min-height: 100vh;
}

.nav {
    margin-top: 0px;
}

.nav-item {
    font-size: larger;
    display: flex;
    align-items: center;
    padding: 30px;
    cursor: pointer;
}

.nav-item:hover {
    background-color: #374151; 
}

.nav-item.active {
    background-color: #6b46c1; 
}

.main-content {
    position: absolute;
    top: 100px;
    left:350px;
    column-gap: 20px;
    row-gap: 30px;
    flex: 1;
    padding-left: 30px;
    padding-top: 50px;
    font-size: 15px;
}

.grid {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 45px;
}

.card {
    text-align: left;
    background-color: rgb(186, 175, 175);
    padding: 25px;
    border-radius:15px;
    box-shadow: 0 1px 3px rgba(188, 10, 10, 0.1);
}

.card-header {
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
}

.card-value {
    font-size: 25px;
    margin-top: 15px;
}

.mt-6 {
    margin-top:30px;
}
