* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-image: url('image/blood.jpg');
    background-size:1920px 1080px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    background-color: #ca7d7d;
    object-fit: contain;
    object-position: center;
    object-fit: cover;
    object-position: right top;
}


header {
    font-weight:bold;
    background-color: #ff4d4d;
    padding: 20px;
    color: white;
}

header .logo h1 {
    margin: 0px;
    font-size: 50px;
    padding-left: 20px;
    padding-top: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    padding: 10px;
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
/*body{
    background-image: url('image/blood.jpg');
    align-items: center;
    display: flex;
    
}*/
.container{
    border: solid 2px red;
    margin: 60px auto;
    padding: 80px;
    padding-top: 30px;
    width: 500px;
    height:120vh;
    background-color: aquamarine;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
button {
    margin: 0 auto;
    margin-top: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
  }
input{
    width: 100%;
}
.form-group label {
    white-space: nowrap;
    width: 100px;
    text-align: left; 
}

.form-group {
    display: flex;
    align-items: center;
    gap: 5px; 
    margin-bottom: 5px; 
  }
.radio-group {
    position: relative;
    top: -5px;
    display: flex;
    align-items: center;
}
label[for="lastDonationDate"] {
    margin-bottom: 10px; 
}
.radio-group input[type="radio"] {
    margin-right: 5px;
  }  
label {
    display: inline-block;
    font-size: 15px;
    flex-basis: 120px; 
    text-align: left; 
    width: 100%;  
}
label[for="blood-donation"] {
    margin-bottom: 10px;
  }
input[type="text"],input[type="date"],input[type="textarea"],input[type="radio"],select{
    width:100%;
    padding: 1px;
    margin: 10px;
}
#last{
    display: none;
}
.error{
    color: red;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
section.power{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(166, 166, 240);
}