/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-image: url('image/home.jpg');
    background-size:contain;
    background-repeat: no-repeat;
    background-attachment:local;
    font-family: Arial, sans-serif;
    background-color: #ca7d7d;
    object-fit: contain;
    object-position: center;
    object-fit: cover;
    object-position: right top;
}


header {
    font-weight:bold;
    background-color: #ff4d4d;
    padding: 20px;
    color: white;
}

header .logo h1 {
    margin: 0px;
    font-size: 50px;
    padding-left: 20px;
    padding-top: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    padding: 10px;
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 100;
    background: url('hero-image.jpg') no-repeat center center/cover;
    padding: 100px 0;
    color: black;
    text-align: center;
}

.hero h2 {
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    color: #6a0101;
}

section {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 50px;
    text-align: center;
}

section.man{
    background-color: antiquewhite;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

section.power{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: bold;
}

.cta-button {
    font-size: 20px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff0000;
    color: white;
    text-decoration:none;
    font-weight: bold;
    border-radius: 15px;
}

.cta-button:hover {
    background-color: #ff2a2a;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

.container{
    background-image: url('image/conatiner.png');
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: fill;
    position: relative;
    left: 500px;
    display:inline-block;
    justify-content: left;
    border: 10px;
    background-color:rgb(241, 220, 220);
}

table{
    width: 100%;
    padding: 10px;
    justify-content: left;
 
}
th,td{
    font-size: 15px;
    color: #011b69;
    border: 1px;
    padding: 5px;
    text-align: left;
}
.blood-type{
    font-size: 15px;
    color: #ff0000;
    font-weight: bold;
}
.header{
    text-align:center;
    padding: 10px;
    background-color: #ff0000;
    color: #f4f4f4;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 30px;
}

.logo{
    background-attachment: fixed;
    color:white;
}

.sign h2 {
    color: rgb(0, 13, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;

}





